# Tutorial 3
## Submitted by S Bhuvanesh
## Roll Number : 2018113002


Now that we have worked on some examples, it is now time to circle black and revise quickly some of important (or more frequently used) python constructs. 

- Numbers, Variables, Boolean logic, Strings

- List, Tuples,  Loops

- File I/0

You will write examples for various operations for each one of the above operations/constructs in the tutorial.  Below is the example for the "Lists".

# Lists
Perfom the following task:
- make a list using a rule (list comprehension)
- add member to a list (somewhere in the middle)
- delete a memeber from a list 
- modify a list member

### Lists :

In [32]:
mylist = [1,2,4,8,16]
listdef = [i**2 for i in mylist] ## Definition of list by comprehension.

In [33]:
listdef

[1, 4, 16, 64, 256]

In [3]:
mylist

[1, 2, 4, 8, 16]

In [4]:
mylist[:-1] #Slicing

[1, 2, 4, 8]

In [5]:
mylist + mylist[1:] #List Concatenation

[1, 2, 4, 8, 16, 2, 4, 8, 16]

In [6]:
mylist.append(4)
mylist

[1, 2, 4, 8, 16, 4]

In [7]:
len(mylist)

6

In [8]:
mylist.insert(-1,5)#Adding a member to a list

In [9]:
mylist

[1, 2, 4, 8, 16, 5, 4]

In [10]:
mylist[5] = 1000 #Modifying a member of the list`

In [11]:
mylist

[1, 2, 4, 8, 16, 1000, 4]

In [12]:
mylist.remove(4) #Removing a member of a list by value

In [13]:
del(mylist[2]) # Removing a member by index

In [14]:
mylist

[1, 2, 16, 1000, 4]

### Strings:

In [15]:
str1 , str2 = "Hello" , 'World'
print(str1)
print(str2)

Hello
World

In [16]:
print(str1+ ' ' +str2) #String Concatenation

Hello World

In [17]:
str1*3

'HelloHelloHello'

In [18]:
print(str1[3:]) #Splicing strings 
print(str1[2:-1])
print(str1 + " To lol")

lo
ll
Hello To lol

### Boolean Logic

In [19]:
val1 = True
val2 = False

In [20]:
val1 and val2

False

In [21]:
val1 or val2

True

In [22]:
val1 ^ val2

True

In [23]:
not val2 and val1

True

In [25]:
val1 ^ val2

True

### Tuples

In [26]:
tup = 1 , 2 , 3 , "word" #Tuple packing

In [30]:
for i in range(4):
    print(tup[i])

1
2
3
word

In [35]:
x1 , x2 , x3 , x4 = tup #Sequence Unpacking

In [57]:
newtup = list(enumerate(mylist))
print(newtup)

[(0, 1), (1, 2), (2, 4), (3, 8), (4, 16)]

In [36]:
print(x1)
print(x2)
print(x3)
print(x4)

1
2
3
word

### Dictionary :

In [43]:
import sys
dicty = {i:sys.getsizeof(i) for i in tup}
print(dicty)

{1: 28, 2: 28, 3: 28, 'word': 53}

In [45]:
print(dicty['word'])

53

In [58]:
print(dicty[1])

28

### Loops

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

In [72]:
listnew = lambda x: range(x)
listnew(10)

range(0, 10)

In [74]:
k=0
while k<5:
    print(k)
    k = k + 1

0
1
2
3
4

### File Input and Output

In [98]:
file = open("file.txt",'w',encoding = 'utf-8')
for i in range(10):
    file.write( str(i)+"\n" )

In [100]:
file.close()
file = open("file.txt",mode='r')
print(file.read())

0
1
2
3
4
5
6
7
8
9